<div id="map" style="width:100%; height: 100%; position:absolute;"></div>

<script>
    var map;
    var latitude;
    var longitude;
    var dataOut = [];
    var dataNy = [];
    var stateNy = [];
    var maxChecked = 134158;
    var minMax = [];

    var query = location.search.slice(1);
    var partes = query.split('&');
    partes.forEach(function (parte) {
        var p1 = parte.split('=');
        minMax.push(p1[1]);
    });

    console.log(minMax);

    setTimeout(function () {
        initMap();
    }, 5000);

    $(function () {
        $.get("venues", {},
            function (data) {
                dataOut = data;
            }, "json");
    });

    $(function () {
        $.get("nystate", {},
            function (data) {
                dataNy = data;
            }, "json");
    });

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: new google.maps.LatLng(42.789895857270295, -75.680922880318),
            zoom: 7
        });


        if (dataOut.length == 0) {
            console.log("Aguarde...");
        } else {
            var latLng;
            var markers = [];

            for (var i = 0; i < 5863; i++) {
                var j = 0;
                var long = 0;
                var lati = 0;

                while (j < 2) {
                    if (j == 0) {
                        long = dataNy['geometries'][0]['coordinates'][0][0][i][j];
                    } else {
                        lati = dataNy['geometries'][0]['coordinates'][0][0][i][j];
                    }
                    j++;
                }

                stateNy.push({ lat: lati, lng: long });
            }

            var polygonNy = new google.maps.Polygon({
                paths: stateNy,
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 3,
                fillColor: '#FF0000',
                fillOpacity: 0.15
            });
            polygonNy.setMap(map);

            console.log(minMax[0]);

            for (var i = 0; i < 57484; i++) {
                var marker = new google.maps.Marker({
                    position: { lat: dataOut[i]['venue']['lat'], lng: dataOut[i]['venue']['lon'] },
                    title: dataOut[i]['venue']['name'] + ' - ' + dataOut[i]['venue']['checkedUser']
                });

                if (dataOut[i]['venue']['checkedUser'] >= minMax[0] && dataOut[i]['venue']['checkedUser'] <= minMax[1]) {
                    markers.push(marker);
                }
            }

            var markerCluster = new MarkerClusterer(map, markers,
                { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });
        }
    }
</script>

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLCikJSgRlE-ZJOobE8k59msXnQjret3A&libraries=visualization&callback=initMap"></script>

<a href="http://localhost:3000">
    <button id="point" style="position: absolute;
	z-index: 2;
	top: 65px;
	right: 5px;
	font-size: 13px;
	background-color: #3071a9;
	color: #fff;
	border: 1px solid #285e8e;
	padding: 6px 12px;
	border-radius: 4px;">Pontos</button></a>

<a href="http://localhost:3000/groups">
    <button id="point" style="position: absolute;
	z-index: 2;
	top: 100px;
	right: 5px;
	font-size: 13px;
	background-color: #3071a9;
	color: #fff;
	border: 1px solid #285e8e;
	padding: 6px 12px;
	border-radius: 4px;">Agrupamentos</button></a>

<div style="position: absolute;
	z-index: 2;
	top: 135px;
	right: 5px;
    padding: 8px;
    background-color: #3071a9;
    border-radius: 4px;">

    <form action="http://localhost:3000/checked" method="GET">
        <input type="number" name="checkinsMin" style="font-size: 13px; padding: 5px; width: 70px;">
        <input type="number" name="checkinsMax" style="font-size: 13px; padding: 5px; width: 70px;">
        <button type="submit" style="font-size: 13px;
        padding: 5px;
        background-color: #004080;
        color: #fff;">Filtrar</button>
    </form>

    <p style="font-size: 13px; color: #fff; padding: 3px;">Min: 0 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max: 74252</p>
</div>