<div id="map" style="width:100%; height: 100%; position:absolute;"></div>

<script>
    var map;
    var latitude;
    var longitude;
    var venuesDB = 57484;
    var dataOut = [];

    setTimeout(function () {
        initMap();
    }, 5000);

    $(function () {
        $.get("venues", {},
            function (data) {
                dataOut = data;
            }, "json");
    });

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: new google.maps.LatLng(42.89080335202763, -74.68116702094304),
            zoom: 7
        });

        if (dataOut.length == 0) {
            console.log("Aguarde...");
        } else {
            var latLng;
            var markers = [];

            for (var i = 0; i < venuesDB; i++) {
                var marker = new google.maps.Marker({
                    position: { lat: dataOut[i]['venue']['lat'], lng: dataOut[i]['venue']['lon'] }
                });

                markers.push(marker);
            }

            var markerCluster = new MarkerClusterer(map, markers,
                { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });
        }
    }
</script>

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLCikJSgRlE-ZJOobE8k59msXnQjret3A&libraries=visualization&callback=initMap"></script>

<button id="point" style="position: absolute;
	z-index: 2;
	top: 65px;
	right: 5px;
	font-size: 13px;
	background-color: #3071a9;
	color: #fff;
	border: 1px solid #285e8e;
	padding: 6px 12px;
	border-radius: 4px;">Botão</button>